<% if logged_in? %>
    <nav>
      <ul>
        <li> <%= link_to "Products", products_path %></li>
        <% if is_admin? %>
          <li> <%= link_to "Users", users_path %></li>
        <% end %>
      </ul>
    </nav>
<% end %>
